Repository BigBike96/fitlit-optionB, pull requests merged in 2021-06, with the labels that each got.

#44 Fix/webpack only
  src/images/person-walking-on-path.jpg
  src/images/the-rock.jpg
  src/scripts.js
  webpack.config.js
Labels: API

#45 Fix/html
  dist/index.html
  src/css/styles.scss
  src/images/The Rock.jpg
  src/images/person walking on path.jpg
  src/scripts.js
Labels: CSS, HTML, index.html, script.js, styles.scss

#51 Fix/css
  dist/index.html
  src/css/base.scss
  src/css/styles.scss
  src/scripts.js
Labels: Accessibility, CSS, base.scss, styles.scss

#55 Fix/scripts
  .github/ISSUE_TEMPLATE/issue-template.md
  dist/index.html
  src/Comments/deletedScript.js
  src/Comments/postCall.js
  src/classes/Activity.js
  src/classes/Hydration.js
  src/classes/Sleep.js
  src/classes/User-repo.js
  src/classes/User.js
  src/classes/util.js
  src/scripts.js
  src/webAPI.js
Labels: DOM, refactoring, script.js

#56 Fix/test paths
  src/classes/Hydration.js
  src/classes/User-repo.js
  src/classes/User.js
  test/activity-test.js
  test/hydration-test.js
  test/sampleData.js
  test/sleep-test.js
  test/user-test.js
  test/userrepo-test.js
Labels: Testing, activity-test.js, hydration-test.js, user-test.js, userrepo-test.js

#58 Fix/css
  dist/index.html
  src/css/base.scss
  src/css/styles.scss
  src/scripts.js
Labels: Accessibility, CSS, DOM, DRY up code, HTML, base.scss, enhancement, styles.scss
